/* Thanks to Florainne Walcott-Taylor who helped greatly with the style and design of this site. */

@import url('https://fonts.googleapis.com/css?family=Orbitron|Roboto+Condensed|Overpass+Mono|Aldrich|Fira+Mono|Metrophobic|Saira+Condensed');

/* define each row in the site. */
.row {
  max-width:720px;
  position:relative;
  height:100%;
}

/* define the left and right columns */
.left-column {
  float:left;
  width:100%;
  padding-right:1%;
  padding-top:1%;
  padding-bottom:1%;
  box-sizing: border-box;
}

.right-column {
  float:right;
  width:100%;
  padding-left:1%;
  padding-top:1%;
  padding-bottom:1%;
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 720px;
  padding: 25px 0;
  margin: 0 auto;
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  font-size:2.0rem;
  letter-spacing:0.3rem;
}

body img {
  max-width: 100%;
  height: auto;
}

/* making the navigation bar */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  font-family: 'Aldrich', sans-serif;
}

nav ul li a {
  display: inline-block;
  width: 100%;
  max-width: 72px;
  padding: 0 0px;
}

nav ul li a img {
  width: 100%;
  max-width: 25px;
  height: auto;
}

/* links in navigation bar should be black without underline */
nav ul li a {
  text-decoration: none;
  color: black;
}

/* hide links until user hovers with mouse */
.tooltip {
  visibility:visible;
  font-size:12px;
}

.menu:hover + .tooltip {
  visibility:visible;
}

/* circular image for landing page */

.splash-image {
  width: 100%;
  border-radius: 50%;
  max-width: 360px;
}

/* position and size image for downloading publications */
.publications img {
  width:20px;
  float:right;
}

/* change site display when screen width goes above 720px */
@media only screen and (min-width: 720px) {
  .tooltip {
    visibility:hidden;
  }

  .left-column {
    width:50%;
  }
  .right-column {
    width:50%;
  }
}
