/* Xavier Capaldi, 2021 */

/* define your light colorscheme here */
:root {
/*    --background: #FDFDFD;
    --foreground: #111111; */
    --background: #FFFFFF;
    --foreground: #000000;
    --link:#0000EE;
    --visited:#551A8B;
    --inverted: 0;
}

/* define your dark colorscheme here */
@media (prefers-color-scheme: dark) {
    :root {
/*	--background: #222222;
	--foreground: #eeeeee;*/
	--background: #000000;
	--foreground: #FFFFFF;
	--link:#FFFF11;
	--visited:#AAE574;
	--inverted: 1;
    }
}

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/lato-v17-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/lato-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/lato-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/lato-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/lato-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/lato-v17-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}

/* padding and border elements are included in the total width and heights */
* {
  box-sizing: border-box;
}

/* Fix long links on mobile so that they break */
a {
    word-wrap: break-word;
}

body {
    font-family: "Lato", Helvetica, sans-serif;
    font-size: 1.125rem; /* ~18 px on most browsers */
    margin: 0 auto;
    background-color: var(--background);
    color: var(--foreground);
}

header {
    display: block;
    width: 100%;
}

header h1 {
    display: block;
    text-align: center;
    margin: 0.5rem auto;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem auto;
}

nav img {
    display: flex;
    width: 2rem;
    filter: invert(var(--inverted)) grayscale(100%);
    transition: 0.25s;
    cursor: pointer;
}

nav img:hover {
    filter: invert(var(--inverted)) grayscale(0%);
}

footer {
    display: block;
    margin-bottom: 1rem;
    text-align: center;
}

h2 {
    margin-bottom: 0.5rem;
}

a {
    color: var(--link);
}

a:visited {
    color: var(--visited);
}

dl {
    margin: 0;
}

dt {
    font-weight: bold;
    margin-top: 1rem;
}

dt:first-child {
    margin-top: 0;
}

/* actual content */
table {
    margin-left: auto;
    margin-right: auto;
}

figure img {
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 80%;
  max-height: auto;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  text-align: center;
  padding-top: 1.25rem;
}
    
/* MEDIA QUERIES */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        width: 340px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body {
        width: 600px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    body {
        width: 768px;
    }

    header h1 {
	float: left;
    }

    nav {
	width: 16rem;
	float: right;
    }

    footer {
	float: right;
    }
}

/* *** Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        width: 786px;
    }
}

/* *** Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) { 
    body {
        width: 768;
    }
}
